@import "/src/styles/global.scss";

.home {
  margin: 110vh 1vw 100vh;
}

.bottom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: VW(640);
    height: VW(256);

    clip-path: inset(100%);
  }
}